.bg-fb{
    background: #3B5998 !important;
}
.bg-linkedin{
    background: #0976B4 !important;
}
.bg-twit{
    background: #55ACEE !important;
}
.bg-insta{
    background: #ff0067 !important;
}
.bg-yutub{
    background: #B7242A !important;
}